
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 15px;
}

.card {
    width: 70rem;
    border: 2px solid gray;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 2px 2px gray;
    padding: 20px;
}

.card p {
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

.card p span {
    color: red;
    font-weight: bold;
}

.containerBotoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 1rem;
    width: 7rem;
    height: 10rem;
    cursor: pointer;
}

.excluir {
    padding: 0.5rem;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 0.3rem;
}

.alterar {
    background-color: rgb(0, 162, 255);
    padding: 0.5rem;
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 0.3rem;
}

.editForm {
    margin-left: 15rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 40rem;
}

.editForm input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.editForm button {
    padding: 10px;
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.editForm button:hover {
    background-color: rgb(28, 161, 19);
}
