.container{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    border-right: 2px solid black;
    height: 81vh;
    width: 30%;
}

.container h2{
    padding: 1.3rem;
    font-size: 2rem;
    text-align: center;
}

.form input, textarea{
    margin-top: 30px;
    border-radius: 20px;
    font-size: 20px;
    width: 18rem;
    height: 30px;
    text-align: center;
}

.form label{
    margin-left: 10px;
    font-size: 26px;
}

.formNome input{
    margin-left: 10px;
    border: 0;
    box-shadow: 1px 2px 10px gray;
}

.formDate input{
    margin-left: 105px;
    border: 0;
    box-shadow: 1px 2px 10px gray;
}

.formTime input{
    margin-left: 68px;
    border: 0;
    box-shadow: 1px 2px 10px gray;
}

.formDescription{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 25px;
}

.formDescription textarea{
    margin-top: 13px;
    margin-left: 5px;
    padding-top: 2px;
    padding-left: 10px;
    width: 31rem;
    height: 17rem;
    text-align: left;
    word-wrap: break-word;
    box-shadow: 1px 2px 10px gray;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    height: 4vh;
}

.button button{
    border: 0;
    box-shadow: 1px 2px 10px gray;
    width: 20vh;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.errors{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 9px;
}